.calc {
    width: 80%;
    margin: 100px auto;
    text-align: center;

}

p {
    font-size: 24px;
    font-weight: 700;
}

.operations {
    margin-top: 25px;
}

.btn {
    width: 200px;
    height: 50px;
    font-size: 20px;
    background: rgb(236, 120, 24);
    color: #ffff;
    border-radius: 40px;
    box-shadow: 4px 4px 4px rgb(236, 189, 151);
    margin-right: 20px;
    margin-bottom: 15px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background: rgb(211, 107, 22);
    box-shadow: 2px 2px 2px rgb(236, 189, 151);
    transform: scale(0.99);
    transition: 0.5s ease-in-out;
}

.out {
    font-size: 24px;
    font-weight: 400;
}

input {
    height: 30px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 15px;
    margin-top: 5px;
    text-align: center;
}

.color {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 200px;
    height: 110px;
    margin: auto;
    background-color: beige;
    border-radius: 20px;
    cursor: pointer;
}

#errorMessage {
    color: red;
}